:root {
    --text-color-light: #fbfbfc;
    --text-color-dark: #333333;
    --icon-bg: #2b2a33;
    --shortcut-bg: #1b1f23;
    --html-bg: #24292e;
    --shortcut-item-width: 90px;
    --list-item-width: 175px;
    --card-min-width: 280px;
    --gap-size: 10px;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--html-bg);
    /* background: linear-gradient(5deg, var(--html-bg) 20%, #c3cfe2 100%); */
    color: var(--text-color-light);
}

a {
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
}


@media screen and (max-width: 767px) {
    html {
        font-size: calc(var(--gap-size)*2);
    }

    body {
        margin: 0px;
    }
}

.shortcut-container {
    /* background-image: url('./bg2.jpg'); */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--shortcut-item-width), var(--shortcut-item-width)));
    gap: 4px;
    padding: var(--gap-size);
    background-color: var(--shortcut-bg);
    margin-bottom: var(--gap-size);
}

.shortcut-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    width: var(--shortcut-item-width);
    padding: 12px 0;
    border-radius: 8px;
    transition: background-color 0.15s ease;
}

.shortcut-item:hover {
    background-color: #394048;
}

.shortcut-icon {
    background-color: var(--icon-bg);
    border-radius: 8px;
    margin-bottom: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    position: relative;
}

.shortcut-title {
    color: var(--text-color-light);
    text-align: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.icon {
    fill: currentColor;
    display: inline-block;
    vertical-align: middle;
}

.card-item-link {
    color: var(--text-color-dark);
    margin-left: 8px;
}

.card-item-link:hover {
    /* color: blue; */
    text-decoration: underline;
}

.size-14 {
    width: 14px;
    height: 14px;
}

.size-16 {
    width: 16px;
    height: 16px;
}

.size-18 {
    width: 18px;
    height: 18px;
}

.size-20 {
    width: 20px;
    height: 20px;
}

.size-24 {
    width: 24px;
    height: 24px;
}

.size-48 {
    width: 48px;
    height: 48px;
}

.size-50 {
    width: 50px;
    height: 50px;
}

.size-100 {
    width: 100px;
    height: 100px;
}

.size-full {
    width: 100%;
    height: 100%;
}

.svg-color-gray {
    fill: #8e8d8d;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-min-width), 1fr));
    grid-gap: var(--gap-size);
    grid-auto-rows: 1px;
}

.card {
    border: 1px solid #c6c6c6;
    overflow: hidden;
    margin: 0;
    /* grid-row-end: span 15; */
}

.card-title {
    color: var(--text-color-dark);
    /* user-select: none; */
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid #e0e0e0; */
    padding: 16px 16px 8px 16px;
    font-size: 1.5rem;
    font-weight: 700;
}

.card-content {
    padding: 16px;
    padding-top: 0px;
}

.card-item {
    display: flex;
    align-items: center;
    margin: 6px 5px;
}

.checkboxWithLabel {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.checkboxWithLabel:hover {
    text-decoration: underline;
}

.checkboxWithLabel input {
    margin-right: var(--gap-size);
    cursor: pointer;
}

.text-gray {
    color: #c6c6c6;
}

.text-small {
    font-size: 0.9rem;
    font-weight: 300;
}

.text-normal {
    font-size: 1rem;
}

.text-large {
    font-size: 1.1rem;
    font-weight: 700;
}

.textarea-outer {
    /* margin: 10px 10px; */
    width: 100%;
    border: 1px solid #d1d5da;
    border-radius: 6px;
    background-color: #e9f4fe;
    box-sizing: border-box;
}

.textarea-outer:has(.textarea:focus) {
    background-color: #ffffff;
    box-shadow: 0 0 0 3px rgba(224, 146, 20, 0.975);
}

.textarea-head {
    width: 100%;
    height: 18px;
    display: flex;
    justify-content: space-between;
}

.textarea-caption,
.textarea-buttons {
    display: flex;
    white-space: nowrap;
}

.textarea-caption {
    margin-left: 8px;
    font-size: 1rem;
    color: #8e8d8d;
}

.textarea-buttons>[role="button"] {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    padding: 0px 4px;
    background-color: transparent;
    user-select: none;
    cursor: pointer;
}

.textarea-buttons>[role="button"]:last-child {
    border-radius: 0 6px 0 0;
}

.textarea-buttons>[role="button"]:hover {
    background-color: #eaeaea;
}

.textarea-buttons>[role="button"]>span {
    font-weight: 600;
    font-size: 0.8rem;
    color: #8e8d8d;
}

.textarea {
    width: 100%;
    /* height: 100%; */
    padding: 8px;

    font-family: 'Cascadia Code', 'Consolas', 'Monaco', 'Courier New', monospace;
    /* font-size: 14px; */
    line-height: 1.5;
    color: #24292e;

    background-color: transparent;
    border: none;
    outline: none;

    overflow-y: hidden;
    resize: none;
    box-sizing: border-box;
}

.color-red {
    color: #DC2626;
    /* text-decoration: underline; */
}

.list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--list-item-width), var(--list-item-width)));
    gap: 4px;
    width: 100%;
    padding: calc(var(--gap-size)*2);
    box-sizing: border-box;
}

.footer {
    height: 20px;
}

.search-container {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 50px 100px;
    border-radius: 12px;
    text-align: center;
    display: none;
    box-sizing: border-box;
}

.search-container[focused] {
    display: block;
}

.search {
    display: flex;
    flex-direction: row;
    border: 1px solid #d1d5da;
    border-radius: 6px;
    background-color: #e9f4fe;
    box-sizing: border-box;
}

.search:has(input:focus) {
    background-color: #ffffff;
    box-shadow: 0 0 0 3px rgba(224, 146, 20, 0.975);
}

.search-input {
    width: 500px;
    padding: 10px 15px;
    color: var(--text-color-dark);
    font-size: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: none;
    z-index: 1;
}

.search-container[focused]~.blur-overlay {
    display: block;
}