/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:4e9db0030af0390e247212d6c06569be:e1760ea9cc0bb1899a8ebfeb05ac1919:f1ca9f615efd41ee6d583ace452461d3$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(icons.png);}

.AUT {width:16px; height:16px; background-position: -0px -16px}
.Apache_HTTP_Server {width:16px; height:16px; background-position: -16px -0px}
.Azure {width:16px; height:16px; background-position: -16px -16px}
.Bilibili {width:16px; height:16px; background-position: -0px -32px}
.Canva {width:16px; height:16px; background-position: -16px -32px}
.Cloudflare {width:16px; height:16px; background-position: -0px -48px}
.Cowboy_Programming {width:16px; height:16px; background-position: -16px -48px}
.Desmos {width:16px; height:16px; background-position: -0px -64px}
.Docker {width:16px; height:16px; background-position: -16px -64px}
.Fastly {width:16px; height:16px; background-position: -0px -80px}
.Game_Developer {width:16px; height:16px; background-position: -16px -80px}
.GitHub {width:16px; height:16px; background-position: -0px -96px}
.Google {width:16px; height:16px; background-position: -16px -96px}
.Google_Cloud {width:16px; height:16px; background-position: -0px -112px}
.Google_Docs {width:16px; height:16px; background-position: -16px -112px}
.Google_Drive {width:16px; height:16px; background-position: -0px -128px}
.Google_Photos {width:16px; height:16px; background-position: -0px -144px}
.Google_Sheets {width:16px; height:16px; background-position: -16px -144px}
.Google_Slides {width:16px; height:16px; background-position: -0px -160px}
.Google_Translate {width:16px; height:16px; background-position: -16px -160px}
.Google_mail {width:16px; height:16px; background-position: -16px -128px}
.Instagram {width:16px; height:16px; background-position: -16px -176px}
.LaTeX_Project {width:16px; height:16px; background-position: -0px -208px}
.MDN {width:16px; height:16px; background-position: -0px -224px}
.MongoDB {width:16px; height:16px; background-position: -16px -224px}
.Netflix {width:16px; height:16px; background-position: -0px -240px}
.Netlify {width:16px; height:16px; background-position: -16px -240px}
.Overleaf {width:16px; height:16px; background-position: -0px -256px}
.PostgreSQL {width:16px; height:16px; background-position: -16px -256px}
.Python {width:16px; height:16px; background-position: -0px -272px}
.Reddit {width:16px; height:16px; background-position: -16px -272px}
.Redis {width:16px; height:16px; background-position: -0px -288px}
.Remove_BG {width:16px; height:16px; background-position: -16px -288px}
.Salt_Tiger {width:16px; height:16px; background-position: -0px -304px}
.SmallPDF {width:16px; height:16px; background-position: -16px -304px}
.Stack_Overflow {width:16px; height:16px; background-position: -0px -320px}
.Typing_com {width:16px; height:16px; background-position: -0px -336px}
.Vercel {width:16px; height:16px; background-position: -16px -336px}
.Wolfram_MathWorld {width:16px; height:16px; background-position: -16px -352px}
.X {width:16px; height:16px; background-position: -0px -368px}
.YouTube {width:16px; height:16px; background-position: -16px -368px}
.YouTube_Music {width:16px; height:16px; background-position: -0px -384px}
.alipay {width:16px; height:16px; background-position: -0px -0px}
.iCloud {width:16px; height:16px; background-position: -0px -176px}
.iquiyi {width:16px; height:16px; background-position: -0px -192px}
.jd {width:16px; height:16px; background-position: -16px -192px}
.markdown-mark-clear-favicon {width:16px; height:16px; background-position: -16px -208px}
.taobao {width:16px; height:16px; background-position: -16px -320px}
.vqq {width:16px; height:16px; background-position: -0px -352px}
.zhihu {width:16px; height:16px; background-position: -16px -384px}
